<%- include("partials/header") -%>

<h1><%= composeTitle %></h1>
<form action="/" method="post">
    <input type="text" name="compose" autocomplete="off">
    <button type="submit" value=<%= composeContent %>>Publish</button>
</form>

<%- include("partials/footer") -%>